@font-face {
  font-family: 'Scoreboard';
  src: url('../../assets/scoreboard.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.admin-cell {
  display: flex;              
  flex-direction: column;
  justify-content: flex-end;  
  align-items: center;
  position: relative;      
}

.leaderboard-card {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.75);
  padding: 20px 30px;
  color: white;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.3);

  align-self: center;
}

.top-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.timer {
  font-family: 'Scoreboard', monospace;
  font-size: 1.5rem;
  font-weight: bold;
}

.score {
  font-family: 'Scoreboard', monospace;
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.shot-status-row { 
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.5rem;
}

.shot-key {
  text-align: center;
}

.shot-label {
  font-size: 0.8rem;
}

.shot-indicator {
  margin: 0 1rem;
}
